    body {
      background-color: #f9fafb;
      font-family: 'Segoe UI', sans-serif;
    }
     #tool-logo {
      height: 8rem;
      width: 8rem;
      object-fit: contain;
      max-width: 100%;
      margin-bottom: 1rem;
      border-radius: 20px;
}
    .tool-section h1 {
      font-weight: 700;
      font-size: 2.2rem;
    }
.file-picker {
  border: 2px dashed #2dd4bf;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 150px; /* Increased height */
  width: 450px;  /* Increased width */
  margin: auto;
}

.file-picker:hover {
  background-color: #f0fdfa;
}

    .file-picker:hover {
      background-color: #f0fdfa;
    }
    .file-picker input[type="file"] {
      opacity: 0;
      position: absolute;
      inset: 0;
      cursor: pointer;
    }
    .file-picker .text {
      font-size: 1.1rem;
      text-align: center;
      color: #6b7280;
    }
    #startButton{
      background-color: #2dd4bf;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 2px;
    }
    #downloadButton{
      background-color: #2dd4bf;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 2px;
    }
    #startButton,
    #downloadButton:hover{
      background-color: #25bfb0;
    }
    #clearButton {
      background-color: #9ca3af;
      border-color: #9ca3af;
      color: #fff;
    }
    #clearbutton:hover {
      background-color: #6b7280;
    }
    video {
      width: 100%;
      border-radius: 10px;
      margin-top: 15px;
    }
    @media (max-width: 576px) {
      .btn-group {
        flex-direction: column;
      }
    }
.custom-btn {
  min-width: 180px;
  padding: 12px 20px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  border: none;
}

.start-btn, .download-btn {
  background-color: #2dd4bf;
}

.clear-btn {
  background-color: #9ca3af;
}

.custom-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
