.tool-logo {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
.tool-section h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #1e293b;
}
.tool-section .lead {
  font-size: 1.2rem;
  color: #64748b;
}
.file-picker {
  border: 2px dashed #2dd4bf;
  background: #ffffff;
  border-radius: 16px;
  min-height: 200px;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.file-picker:hover {
  background-color: #f0fdfa;
}
.output-box {
  min-height: 200px;
  min-width: 600px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #1e293b;
  /* scroll-behavior: smooth; */
  /* overflow: scroll; */
  border: 2px dashed #2dd4bf;
  transition: all 0.3s ease;
}
.output-box:focus{
      border-color: #2dd4bf;
      background-color: #e6f0ff;
      box-shadow: 0 0 8px rgba(180, 243, 255, 0.5);
      outline: none;
      overflow: scroll;
      overflow-y: scroll;
}
.start-btn, .download-btn {
  font-size: 1.1rem;
  padding: 0.75rem 2rem;
  border-radius: 8px;
}
.clear-btn {
  margin-left: 10px;
}
.col-md-8{
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 50px; */
    width: 100vw;
}