 body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f8fafc;
    }
  .tool-logo {
  height: 130px;
  width: 130px;
  object-fit: contain;
}

    h1 {
      color: #0f172a;
    }
.btn,
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #20d0b9 !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

    .card {
      background-color: #ffffff;
      border-radius: 10px;
    }

    .list-group-item {
      font-size: 1rem;
      border: none;
      padding: 12px 0;
    }